services:
  api:
    build: ./backend/
    ports:
      - 5000:5000
    volumes:
      - ./backend:/app
    environment:
      - FLASK_DEBUG=true
      - PYTHONUNBUFFERED=1
    networks:
      - ats-network
    depends_on:
      - ollama
      - selenium

  client:
    build: ./frontend/
    ports:
      - 3000:3000
    volumes:
      - ./frontend:/app
    environment:
      - WATCHPACK_POLLING=true
    networks:
      - ats-network

  ollama:
    image: ollama/ollama:latest
    volumes:
      - ollama_data:/root/.ollama
    ports:
      - '11434:11434'
    networks:
      - ats-network
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        ollama serve &
        sleep 10
        ollama pull qwen2.5:1.5b
        tail -f /dev/null

  selenium:
    image: selenium/standalone-chrome:latest
    ports:
      - 4444:4444
    shm_size: 2g

networks:
  ats-network:
    driver: bridge

volumes:
  ollama_data:
